

.footer {
    position: relative; /*相对于父元素contanier定位*/
    width: 100%;
    left:0px;
    height: 50px; 
    line-height: 25px;
    bottom: 0px;
}

.footer{
    background-color: white;
    color:rgb(59, 48, 48);
    text-align: center;
    font-size: 12px;     
}

.footer span,.footer p,.footer a{

    margin:0px;
    padding:0px;
    }
.footer a,.footer a:hover{
    color:rgb(59, 48, 48);
}